/* General style */
* {
	font: 100%/160% Roboto;
}

/* Header 2 */
h2 {
	font: bold 1.5em/160% Roboto;
}





/*
 * Page title element
 */

/* Page subtitle */
.pageSubtitle {
	font-size: 20px;
}





/*
 * Div group element
 */

/* Div group */
.divGroup {
	border: 1px dashed #7f7f7f;
	margin-bottom: 10px;
}
/* Div group without margin */
.divGroupNoMargin {
	border: 1px dashed #7f7f7f;
}
/* Div group title */
.divGroupTitle {
	font-size: 10px;
	margin-left: 10px;
}
/* Div group description line */
.divGroupLine {
	margin-left: 20px;
}





/*
 * Tooltip element
 */

/* Tooltip */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1.5px dotted #000;
}
/* Tooltip text */
.tooltip .tooltipText {
	visibility: hidden;
	width: 250px;
	background-color: #bfbfbf;
	color: #000;
	text-align: center;
	border-radius: 3px;
	padding: 5px 0;

	/* Positioning the tooltop */
	position: absolute;
	z-index: 1;
	bottom: 20px;
	left: 0%;
}
/* Show tooltip when hovering */
.tooltip:hover .tooltipText {
	visibility: visible;
}





/*
 * Misc style
 */

/* <code> style */
code {
	background-color: #efefef;
	color: #bf0000;
	font-family: 'Courier New';
	margin: 0 5px 0 5px;
}

/* Go back image on 404 page */
.goBackImage {
	width: 30px;
}
/* Go back text on 404 page */
.goBackText {
	position: relative;
	bottom: 10px;
}
