/* General style */
* {
  font: 100%/160% 'Roboto', 'Noto Sans', sans-serif;
  background-color: #000;
  color: #fff;
}

/* Bulleted list markers

<svg width="17" height="13" xmlns="http://www.w3.org/2000/svg">
  <rect x="6" y="4" width="5" height="5" style="fill:rgb(255,255,255);" transform="rotate(45 8.5,6.5)" />
</svg>

 */
ul ::marker {
  content: url('data:image/svg+xml,<svg width="17" height="13" xmlns="http://www.w3.org/2000/svg"><rect x="6" y="4" width="5" height="5" style="fill:rgb(255,255,255);" transform="rotate(45 8.5,6.5)" /></svg>');
}



/*
 * Toolbar
 */

/* Sticky toolbar */
div#toolbar {
  position: sticky;
  position: -webkit-sticky; /* WebKit (Safari) */
  top: 0;
}

/* Top right fixed toolbar */
div#fixed-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 0 5px;
  border: 2px solid #fff;
  margin: 8px 8px 0 0;
}



/*
 * Input
 */

/* Required indicator */
input.required::before {
  content: "*";
  color: red;
}

/* Invalid */
span.invalid-input {
  margin-left: 5px;
  color: red;
}



/*
 * Title elements
 */

/* Subtitle */
h3 {
  font-size: 20px;
}



/*
 * Section elements
 */

/* Sections */
div.section, div.non-text-section {
  border: 1px dashed #7f7f7f;
  margin: 0 8px 10px 0;
}
/* Non-text sections */
div.non-text-section {
  padding-bottom: 16px;
}
/* Title */
p.section-title {
  font-size: 10px;
  margin-left: 10px;
}
/* Labels & Buttons */
p.section-line,
:is(div.section, div.non-text-section) :is(
  label,
  :not(button) + button,
  button:first-child
) {
  margin-left: 20px;
}



/*
 * Collapsible
 */

/* Button */
button.coll {
  padding: 0;
  border: 0;
}

/* Closed */
button.coll:not(.opened) {
  margin-bottom: 10px;
}
button.coll:not(.opened)::before {
  content: "\25b4";
}

/* Opened */
button.coll.opened::before {
  content: "\25be";
}

/* Next element */
button.coll:not(.opened) + * {
  display: none;
}



/*
 * Links
 */

/* Not visited */
a:link {
  color: #ff1;
  cursor: pointer;
  text-decoration: underline;
}
/* Visited */
a:visited {
  color: #aae574;
  cursor: pointer;
  text-decoration: underline;
}



/*
 * Misc style
 */

/* Codespace */
code {
  background-color: #101010;
  color: #40ffff;
  font-family: 'Courier New';
  margin: 0 5px 0 5px;
}

/* Superscript */
sup {
  font-size: smaller;
}

/* Header */
h2 {
  font: bold 1.5em/160% 'Roboto';
}

/* Bold */
b {
  font-weight: bold;
}

/* Ordered list markers */
ol ::marker {
  font-size: 75%;
}
