* {
    font: 20px/160% Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-color);
}


/**********
 * Sticky *
 **********/

/* Header */
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px;

    * + * {
        margin-left: 20px;
    }
}

/* Navigation links */
nav a {
    font-weight: bold;
    font-size: 1.2em;
}

/* Corner box */
div#corner-box {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 5px;
    border: 2px solid var(--fixed-toolbar-border-color);
    margin: 8px 8px 0 0;
}


/*********
 * Input *
 *********/

/* Required indicator */
span.required-ind {
    color: var(--required-ind-fg-color);
}

/* Alert */
span.alert {
    color: var(--alert-fg-color);

    :not(label) + & {
        margin-left: 0.3em;
    }
}


/**********
 * Layout *
 **********/

/* Page title */
h2 {
    font-weight: bold;
    font-size: 1.5em;
}

/* Sections */
section {
    border: 1px dashed var(--section-border-color);
    padding: 10px;

    /* Sections after sections */
    + section {
        margin-top: 10px;
    }

    /* Section title */
    > h3 {
        margin: 0;
        font-size: 0.7em;
    }

    /* Content */
    > div {
        margin: 10px;
    }
}


/*****************
 * Miscellaneous *
 *****************/

/* Anchor */
a {
    color: var(--anchor-fg-color);
    cursor: pointer;
    text-decoration: none;
}

/* External anchor */
a.external {
    color: var(--external-anchor-fg-color);
}

/* Buttons */
button {
    cursor: pointer;
    user-select: none;

    /* Regular buttons */
    &:not(.plain-button) {
        border: 3px outset var(--button-border-color);

        &:active:not(:disabled) {
            border-style: inset;
        }

        &:disabled {
            background-color: var(--button-disabled-bg-color);
            cursor: not-allowed;
        }
    }

    /* Plain buttons */
    &.plain-button {
        border: none;
    }
}

/* Buttons after buttons */
button + button {
    margin-left: 7px;
}

/* Codespace */
code {
    background-color: var(--code-bg-color);
    color: var(--code-fg-color);
    font-family: "Courier New";
    padding: 0 0.2em;
}

/* Unordered list */
ul {
    margin: 0;
}

/* Collapsible */
summary {
    cursor: pointer;
    user-select: none;

    /* Closed */
    details:not([open]) > &::marker {
        content: "\25b4";
    }

    /* Opened */
    details[open] > &::marker {
        content: "\25be";
    }
}
