:root {
    --font-size: 20px;
    --line-height: 160%;
    --spacing: 10px;
    --border-width: 1px;
    --padding: 10px;

    --header-height: 2em;
    --header-padding: 5px;
    --header-nav-font-size: 1.1em;
    --header-nav-spacing: 1em;

    --page-nav-width: 10em;
    --page-nav-spacing: 20px;
    --page-nav-top: calc(var(--header-height) + var(--header-padding) * 2 + var(--spacing));
    --page-nav-height: calc(100vh - var(--page-nav-top) - var(--padding) * 2);

    --title-font-size: 1.5em;
    --sec-title-font-size: 0.7em;

    --button-border-width: 3px;
    --button-spacing: 7px;

    --paragraph-spacing: 1em;
    --code-padding: 0.2em;
    --alert-spacing: 0.3em;
    --indent: 1.5em;
    --backdrop-brightness: 70%;
}

:root {
    --bg-color: #141414;
    --fg-color: #ffffff;
    --status-fg-color: #7f7f7f;
    --anchor-fg-color: #3fadf7;
    --required-ind-fg-color: #ffffff;
    --alert-fg-color: #f34545;
    --section-border-color: #a5a5a5;
    --button-border-color: #7f7f7f;
    --button-disabled-bg-color: #333333;
    --code-fg-color: #ffffff;
    --code-bg-color: #3f3f3f;
    --hr-color: #a5a5a5;
}


body, header, section, button, input, select, textarea {
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-color);
}


/**********
 * Layout *
 **********/

/* Header */
header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing);
    padding: var(--header-padding);
    height: var(--header-height);
    background: var(--bg-color);

    /* Header navigation */
    nav {
        a {
            font-size: var(--header-nav-font-size);
        }

        a + a {
            margin-left: var(--header-nav-spacing);
        }
    }
}

/* Content wrapper */
div#content-wrapper {
    display: flex;
    justify-content: space-between;
}

/* Page navigation */
nav#page-nav {
    position: sticky;
    top: var(--page-nav-top);
    flex: 0 var(--page-nav-width);
    margin-right: var(--page-nav-spacing);
    padding: var(--padding);
    height: var(--page-nav-height);

    ul {
        padding: 0;
        list-style: none;
    }
}

/* Main wrapper */
div#main-wrapper {
    flex: 1;
}

/* Page title */
h2 {
    font-weight: bold;
    font-size: var(--title-font-size);
}

/* Sections */
main section {
    border: var(--border-width) dashed var(--section-border-color);
    padding: var(--padding);

    /* Top-level sections */
    main > & {
        overflow: auto;
    }

    /* Not top-level */
    &:not(main > section) {
        width: fit-content;
    }

    /* Sections after sections and section titles */
    section + &, h3 + & {
        margin-top: var(--spacing);
    }

    /* Section title */
    > h3 {
        margin: 0;
        font-size: var(--sec-title-font-size);
        font-weight: normal;
    }

    /* Content */
    > div {
        margin: var(--spacing);
    }
}


/*********
 * Input *
 *********/

/* Required indicator */
span.required-ind {
    color: var(--required-ind-fg-color);
}

/* Alert */
span.alert {
    color: var(--alert-fg-color);

    :not(label) + & {
        margin-left: var(--alert-spacing);
    }
}


/*****************
 * Miscellaneous *
 *****************/

.indent {
    margin-left: var(--indent);
}

.status {
    color: var(--status-fg-color);
}

p {
    margin: 0;

    p + & {
        margin-top: var(--paragraph-spacing);
    }
}

sup, sub {
    font-size: smaller;
}

a {
    cursor: pointer;
    text-decoration: none;

    main &, main & * {
        color: var(--anchor-fg-color);
    }

    &:not(main &) {
        color: var(--fg-color);
    }

    &:hover {
        text-decoration: underline;
    }
}

/* External anchor */
a.external::after {
    content: "\2197";
}

button {
    cursor: pointer;
    user-select: none;
    border: var(--button-border-width) outset var(--button-border-color);

    &:enabled:active {
        border-style: inset;
    }

    &:disabled {
        background-color: var(--button-disabled-bg-color);
        cursor: not-allowed;
    }
}

button + button {
    margin-left: var(--button-spacing);
}

code {
    background-color: var(--code-bg-color);
    color: var(--code-fg-color);
    font-family: Consolas, monospace;
    padding: 0 var(--code-padding);
}

ul {
    margin: 0;
}

hr {
    border-top: var(--border-width) dashed var(--hr-color);
    border-right: none;
    border-bottom: none;
    border-left: none;
}

/* Collapsible */
summary {
    cursor: pointer;
    user-select: none;

    /* Closed */
    details:not([open]) > &::marker {
        content: "\25b4";
    }

    /* Opened */
    details[open] > &::marker {
        content: "\25be";
    }
}

dialog {
    text-align: center;
}

::backdrop {
    backdrop-filter: brightness(var(--backdrop-brightness));
}
