:root {
    --font-size: 20px;
    --line-height: 160%;
    --spacing: 0.5em;
    --border-width: 0.05em;
    --padding: 0.5em;

    --header-height: 3rem;
    --header-padding: 0.6em;
    --header-font-size: 1.1em;
    --nav-toggle-size: 1.5em;
    --nav-toggle-spacing: 0.7em;

    --nav-width: 10em;
    --nav-spacing: 1em;
    --nav-line-height: 130%;
    --nav-title-font-size: 0.7em;
    --nav-item-spacing: 0.5em;
    --nav-hr-margin-bottom: 0.2em;
    --nav-top: var(--header-height);
    --nav-height: calc(100vh - var(--nav-top));

    --main-margin: 8px;
    --title-font-size: 1.5em;
    --sec-title-font-size: 0.7em;

    --button-border-width: 0.15em;
    --button-spacing: 0.3em;

    --paragraph-spacing: 1em;
    --code-padding: 0.2em;
    --alert-spacing: 0.3em;
    --indent: 1.5em;
    --backdrop-brightness: 70%;
    --backdrop-blur-radius: 0.05em;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #ffffff;
        --fg-color: #000000;
        --nav-toggle-color: #000000;
        --section-border-color: #000000;
        --hr-color: #000000;
        --anchor-fg-color: #2132ff;
        --input-border-color: #dbdbdb;
        --required-ind-fg-color: #000000;
        --alert-fg-color: #f34545;
        --button-border-color: #d1d1d1;
        --button-disabled-bg-color: #dbdbdb;
        --code-fg-color: #000000;
        --code-bg-color: #dddddd;
        --status-fg-color: #7f7f7f;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #141414;
        --fg-color: #ffffff;
        --nav-toggle-color: #ffffff;
        --section-border-color: #a5a5a5;
        --hr-color: #a5a5a5;
        --anchor-fg-color: #3fadf7;
        --input-border-color: #7d7d7d;
        --required-ind-fg-color: #ffffff;
        --alert-fg-color: #f34545;
        --button-border-color: #7f7f7f;
        --button-disabled-bg-color: #333333;
        --code-fg-color: #ffffff;
        --code-bg-color: #3f3f3f;
        --status-fg-color: #7f7f7f;
    }
}


body {
    margin: 0;
}

body, header, button, dialog, input, nav, select, textarea {
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-color);
}


/**********
 * Layout *
 **********/

/* Header */
header {
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
    font-size: var(--header-font-size);
    padding: 0 var(--header-padding);
    width: stretch;
    height: var(--header-height);
    box-sizing: border-box;
}

/* Navigation toggle */
button#nav-toggle {
    padding: 0;
    border: none;
    margin-right: var(--nav-toggle-spacing);
    line-height: 0;

    div {
        width: var(--nav-toggle-size);
        height: var(--nav-toggle-size);
        background: var(--nav-toggle-color);
        mask-image: url(/media/nav_toggle.svg);
        mask-size: contain;
    }
}

/* Content wrapper */
div#content-wrapper {
    display: flex;
    justify-content: space-between;
}

/* Navigation */
nav {
    position: sticky;
    z-index: 1;
    top: var(--nav-top);
    flex: 0 0 var(--nav-width);
    margin-right: var(--nav-spacing);
    padding: var(--padding);
    height: var(--nav-height);
    box-sizing: border-box;
    overflow: auto;
    line-height: var(--nav-line-height);

    @media (max-width: 700px) {
        position: fixed;
        width: var(--nav-width);
        height: var(--nav-height);

        &:not(.force-shown) {
            display: none;
        }
    }

    &.force-hidden {
        display: none;
    }

    h3 {
        margin: 0;
        font-size: var(--nav-title-font-size);
        font-weight: normal;
        text-align: center;
    }

    ul {
        padding: 0;
        list-style: none;

        li + li {
            margin-top: var(--nav-item-spacing);
        }
    }

    hr {
        margin-bottom: var(--nav-hr-margin-bottom);
    }
}

/* Main wrapper */
div#main-wrapper {
    flex: 1;
    margin: var(--main-margin);
}

/* Page title */
h2 {
    font-weight: bold;
    font-size: var(--title-font-size);
}

/* Sections */
main section {
    border: var(--border-width) dashed var(--section-border-color);
    padding: var(--padding);

    /* Top-level sections */
    main > & {
        overflow: auto;
    }

    /* Not top-level */
    &:not(main > section) {
        width: fit-content;
    }

    /* Sections after sections and section titles */
    section + &, h3 + & {
        margin-top: var(--spacing);
    }

    /* Section title */
    > h3 {
        margin: 0;
        font-size: var(--sec-title-font-size);
        font-weight: normal;
    }

    /* Content */
    > div {
        margin: var(--spacing);
    }
}


/*********
 * Input *
 *********/

input[type=email], input[type=number], input[type=password], input[type=search], input[type=text], input[type=url] {
    border-color: var(--input-border-color);
}

/* Required indicator */
span.required-ind {
    color: var(--required-ind-fg-color);
}

/* Alert */
span.alert {
    color: var(--alert-fg-color);

    :not(label) + & {
        margin-left: var(--alert-spacing);
    }
}


/*****************
 * Miscellaneous *
 *****************/

.indent {
    margin-left: var(--indent);
}

.status {
    color: var(--status-fg-color);
}

p {
    margin: 0;

    p + & {
        margin-top: var(--paragraph-spacing);
    }
}

sup, sub {
    font-size: smaller;
}

a {
    cursor: pointer;
    text-decoration: none;

    main &, main & * {
        color: var(--anchor-fg-color);
    }

    &:not(main &) {
        color: var(--fg-color);
    }

    &:hover {
        text-decoration: underline;
    }
}

/* External anchor */
a.external::after {
    content: "\2197";
}

button {
    cursor: pointer;
    user-select: none;

    &:not(.img-button) {
        border: var(--button-border-width) outset var(--button-border-color);
    }

    &:enabled:active {
        border-style: inset;
    }

    &:disabled {
        background-color: var(--button-disabled-bg-color);
        cursor: not-allowed;
    }
}

button + button {
    margin-left: var(--button-spacing);
}

code {
    background-color: var(--code-bg-color);
    color: var(--code-fg-color);
    font-family: Consolas, monospace;
    padding: 0 var(--code-padding);
}

ul {
    margin: 0;
}

hr {
    border-top: var(--border-width) dashed var(--hr-color);
    border-right: none;
    border-bottom: none;
    border-left: none;
}

/* Collapsible */
summary {
    cursor: pointer;
    user-select: none;

    /* Closed */
    details:not([open]) > &::marker {
        content: "\25b4";
    }

    /* Opened */
    details[open] > &::marker {
        content: "\25be";
    }
}

dialog {
    text-align: center;
}

/* Overlay */
div#main-overlay {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    &:not(.active) {
        display: none;
    }
}

div#main-overlay.active, ::backdrop {
    backdrop-filter: brightness(var(--backdrop-brightness)) blur(var(--backdrop-blur-radius));
}
