:root {
    --bg-color: #141414;
    --fg-color: #ffffff;
    --anchor-fg-color: #3fadf7;
    --required-ind-fg-color: #ffffff;
    --alert-fg-color: #f34545;
    --section-border-color: #a5a5a5;
    --button-border-color: #7f7f7f;
    --button-disabled-bg-color: #333333;
    --code-fg-color: #ffffff;
    --code-bg-color: #3f3f3f;
    --hr-color: #a5a5a5;
}
