:root {
    --solution-color: green;
    --endpoint-color: red;
    --wall-thickness: 2;
}

input#width, input#height {
    width: 5em;
}

div#maze-img-container {
    max-height: 600px;
    overflow: auto;
}

g#maze-walls {
    stroke-width: var(--wall-thickness);
    stroke: var(--fg-color);
    stroke-linecap: round;
}

path#maze-border {
    fill: none;
    stroke-width: var(--wall-thickness);
    stroke: var(--fg-color);
}
g#maze-solution {
    fill: var(--solution-color);
}

g#maze-endpoints {
    fill: var(--endpoint-color);
}
