textarea#game-status {
  resize: none;
  margin-top: 10px;
}

span#remove-object-event {
  display: none;
}

div#game {
  margin-top: 10px;
}

div#game div.heap svg + svg {
  margin-left: 0;
}

div.heap + div.heap {
  margin-top: -8px;
}

div.heap svg:hover:not(.placeholder) circle,
div.heap svg:hover:not(.placeholder) ~ svg circle {
  fill: #333;
}
